@model List<Productos>

<h2>Productos</h2>

<a class="btn btn-success mb-3"
   asp-controller="Productos"
   asp-action="Create">
    Crear Producto
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.IdProducto</td>
                    <td>@p.Descripcion</td>
                    <td>@p.Precio</td>

                    <td>
                        <a class="btn btn-primary"
                           asp-controller="Productos"
                           asp-action="Details"
                           asp-route-id="@p.IdProducto">
                           Ver
                        </a>
                        <a class="btn btn-danger"
                           asp-controller="Productos"
                           asp-action="Delete"
                           asp-route-id="@p.IdProducto">
                           Eliminar
                        </a>
                        <a class="btn btn-warning"
                            asp-controller="Productos"
                            asp-action="Edit"
                            asp-route-id="@p.IdProducto">
                            Editar
                        </a>
                    </td>
                    
                </tr>
            }
        </tbody>
</table>