@model Presupuestos

<h2>Detalle del Presupuesto</h2>

<h4>Datos del Presupuesto</h4>
<p><b>Destinatario:</b> @Model.NombreDestinatario</p>
<p><b>Fecha:</b> @Model.FechaCreacion</p>
<p><b>Total:</b> $@Model.Total</p>
<p><b>Total con IVA:</b> $@Model.TotalConIva</p>

<h4>Productos del Presupuesto</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Detalles)
        {
            <tr>
                <td>@d.Producto.Descripcion</td>
                <td>$@d.Producto.Precio</td>
                <td>@d.Cantidad</td>
                <td>$@(d.Cantidad * d.Producto.Precio)</td>
                <td>
                    <a class="btn btn-danger"
                        asp-controller="Presupuestos"
                        asp-action="DeleteProd"
                        asp-route-idPresupuesto="@Model.IdPresupuesto"
                        asp-route-idProducto="@d.Producto.IdProducto">
                            Eliminar
                    </a>

                </td>
                <td>
                    <a class="btn btn-warning"
                        asp-controller="Presupuestos"
                        asp-action="EditProduct"
                        asp-route-idPresupuesto="@Model.IdPresupuesto"
                        asp-route-idProducto="@d.Producto.IdProducto">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success"
    asp-controller="Presupuestos"
    asp-action="AddProduct"
    asp-route-id="@Model.IdPresupuesto">
    Agregar Producto
</a>


<a class="btn btn-primary" href="/Presupuestos">Volver</a>
